<div class="global-activities-container">
  <br>
  <div class="ga-top">
   <%= render partial: "top_pane" %>
  </div>

  <div class="ga-main">
    <div class="ga-activities-list">
      <h2>list of activities</h2>
    </div>

  </div>

  <div class="ga-side">
    <%= render partial: "side_filters" %>
  </div>

</div>

<%= javascript_include_tag("global_activities/side_pane") %>